<% if authenticated? %>
	<h2>Welcome <%=h current_user.name%></h2>

	<% if current_user.confirmed? %>
		<div id="invite">
		<% form_for :invite, :url => invite_url do |f| -%>
			<fieldset>
			<p>
		  		<%= f.text_field :email %>
				<%= f.submit "Invite a friend!"%>
			</p>
		<% end -%>
		</div>
	<% end %>

	<%=render_create_game %>
<% else %>
	<div id="actions">
		<h2>Get Started</h2>
		<div class="action">
			<%=link_to image_tag("buttons/login.png"), login_path%>
			<%=link_to image_tag("buttons/register.png"), register_path%>
		</div>
	</div>
<% end %>

<%=render_open_games%>

<%=render_my_open_games%>

<%=render_top_winners%>