<% if authenticated? %>
	Welcome <%=h current_user.name%>
	<%=link_to 'Logout', logout_path%>
	
	<div>
		<%=link_to "Leader Board!", stats_path%>
	</div>
	
	<%=render_create_game %>
	
	<% if current_user.confirmed? %>
		<div>
			<h3>Invite a friend!</h3>
		<% form_for :invite, :url => invite_url do |f| -%>
		  	<%= f.text_field :email %>
			<%= f.submit "Invite" %>
		<% end -%>
		</div>
	<% end %>
<% else %>
	<%=link_to 'Login', login_path%>
	<%=link_to 'Register', register_path%>
	<%=link_to 'Forgot password?', forgot_path%>
<% end %>

<%=h flash.now[:notice]%>


<hr />
<%=render_open_games%>

<%=render_my_open_games%>

<%=render_top_winners%>