<% form_for :User, :url => login_path do |f| -%>
	<fieldset>
		<p>
			<%= f.label :email, "Email Address" %><br />
			<%= f.text_field :email %>
		</p>
		<p>
			<%= f.label :password, "Password" %><br />
			<%= f.password_field :password %>
		</p>
		<p>
			<%= image_submit_tag("buttons/login.png", :id => "login", :name => "login") %>
		</p>
	</fieldset>
<% end -%>
