<h2><%=h @game.mode.name%></h2>

<% if !@game.has_all_players? %>
	<p>
		Waiting for an opponent to join the game....  (<%= link_to 'Refesh', play_game_path(@game.key) %>)
	</p>
	
	<%= javascript_include_tag 'prototype' %>
	<%= periodically_check_for_opponent%>

	<% if current_user.confirmed? %>
		<div id="invite">
			<p>While you're waiting maybe you'd like to invite a friend to this game?</p>
		<% form_for :invite, :url => invite_url(@game.key) do |f| -%>
			<fieldset>
			  	<%= f.text_field :email %>
				<%= f.submit "Invite" %>
			</fieldset>
		<% end -%>
		</div>
	<% end %>
<% elsif @game.finished? %>
	<h3>Game Over!</h3>
	<p><%=h @game.previous_round.winner.name%> won the previous round!</p>
	<div id="weapons">
		<%=image_tag("weapons/win/" + @game.previous_round.winning_weapon.icon)%>
		<%=image_tag("weapons/lose/" + @game.previous_round.losing_weapon.icon)%>
	</div>

	<h3>Game Winner?</h3>
	<p><%=h @game.winner.name%> won the most rounds n this game and the winner!</p>
<% else %>
	<p>
		Now playing round <%=h @game.current_round.number%> against <%=@game.find_opponent(current_player).name %>
	</p>

	<% if !@previous_round.blank? && !@previous_round.winner.blank? %>
		<h3>Round Winner?</h3>
		<p><%=h @previous_round.winner.name%> won the previous round!</p>
		<div id="weapons">
			<%=image_tag("weapons/win/" + @game.previous_round.winning_weapon.icon)%>
			<%=image_tag("weapons/lose/" + @game.previous_round.losing_weapon.icon)%>
		</div>
	<% end %>
	<% if !@current_round.blank? && @current_round.draw? %>
		<p>The last round ended in a draw!</p>
	<% end %>

	<% if @game.already_made_choice?(current_player)%>
		<p>Waiting for opponent to choose a weapon....  (<%=link_to 'Refesh', play_game_path(@game.key) %>)</p>
		<%= javascript_include_tag 'prototype' %>
		<%= periodically_check_for_opponent_choice%>

		<h3>You have chosen!</h3>
		<div id="weapons">
		<%=image_tag("weapons/selected/" + @game.current_choice(current_player).icon)%>
		</div>
	<% else %>
		<h3>Choose your weapon!</h3>
		<div id="weapons">
		<% for weapon in @game.weapons %>
	    	<%=link_to image_tag("weapons/" + weapon.icon, :mouseover => "weapons/selected/" + weapon.icon), deliver_path(:id => @game.key, :weapon => weapon) %>
		<% end %>
		</div>
	<% end %>
<% end %>
