<% if !@game.has_all_players? %>
	Waiting for an opponent to join the game...

	<%= link_to 'Refesh', play_game_path(@game.key) %>
	
	<%= javascript_include_tag 'prototype' %>
	<%= periodically_check_for_opponent%>

	<hr />
	<% if current_user.confirmed? %>
		<div>
			<h3>Invite a friend!</h3>
		<% form_for :invite, :url => invite_url(@game.key) do |f| -%>
		  	<%= f.text_field :email %>
			<%= f.submit "Invite" %>
		<% end -%>
		</div>
	<% end %>
<% elsif @game.finished? %>
	<p><%=h @game.previous_round.winner.name%> won the previous round!</p>

	<%=h @game.winner.name%> is game the winner!
<% else %>
	Now playing round <%=h @game.current_round.number%> with <%=@game.find_opponent(current_player).name %>

	<% if !@previous_round.blank? && !@previous_round.winner.blank? %>
	<p><%=h @previous_round.winner.name%> won the previous round!</p>
	<% end %>
	<% if !@current_round.blank? && @current_round.draw? %>
		The last round ended in a draw!
	<% end %>

	<% if @game.already_made_choice?(current_player)%>
		<p>You have chosen <%=h @game.current_choice(current_player).name%></p>
		<p>Waiting for opponent to choose... <%= link_to 'Refesh', play_game_path(@game.key) %></p>
	<% else %>
		<p>Choose your weapon!</p>
		<% for weapon in @game.weapons %>
	    	<div><%=link_to weapon.name, deliver_path(:id => @game.key, :weapon => weapon) %></div>
		<% end %>
	<% end %>
<% end %>
