<%= error_messages_for 'user', 'player' %>

<% form_for :user, :player do |f| -%>
	<fieldset>
	<% fields_for :user do |user| %>
	<p>
	<%= user.label :name, "Name" %><br />
	<%= user.text_field :name %>
	</p>

	<p>
	<%= user.label :email, "Email Address" %><br />
	<%= user.text_field :email %>
	</p>

	<p>
	<%= user.label :password, "Password" %><br />
	<%= user.password_field :password %>
	</p>
	<% end %>
	
	<% fields_for :player do |player| %>
	<p>
		<%= player.label :name, "Player Nic" %><br />
		<%= player.text_field :name %>
	</p>
	<% end %>

		<p>
			<%= image_submit_tag("buttons/register.png", :id => "register", :name => "register") %>
		</p>
	</fieldset>
<% end -%>
