<% if authenticated? %>
	<%if !current_user.confirmed%>
		<p>
			<%=link_to 'Resend Email Confirmation', resend_path%>
		</p>
	<%end%>

	<%=error_messages_for 'user', 'player'%>
	
	<% form_tag do %>
		<fieldset>
		<p>
		<%=label :user, :email, 'New Email Address:'%><br />
		<%=text_field :user, :email, :value => ''%>
		</p>
		<p>
		<%=label :user, :password, 'New Password:'%><br />
		<%=password_field :user, :password%>
		</p>
		<p>
		<%=label :user, :password_confirmation, 'Confirm New Password:'%><br />
		<%=password_field :user, :password_confirmation %>
		</p>
		</fieldset>
		<fieldset>
		<p>
		<%=label :user, :name, 'Name:'%><br />
		<%=text_field :user, :name%>
		</p>
		<p>
		<%=label :player, :name, 'Player Nic:'%><br />
		<%=text_field :player, :name%>
		</p>
		
		<p>
			<%= image_submit_tag("buttons/save.png", :id => "sav", :name => "save") %>
		</p>
		</fieldset>
	<% end -%>
<% end %>
